# Python virtual environments
api/venv/
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
api/config.py

# VSCode/IDE
.vscode/
.idea/

# Log file
api/documents/
api/question_history/
logs/

# Maven build output
backend-java/target/

